@using ListasEnlazadas.Serves;
@page "/"

<PageTitle>Listas Enlazadas</PageTitle>

<input type="text" @bind="valor" class="form-control" placeholder="Valor a insertar" />
<br />
<button @onclick="AgregarFinal" class="btn btn-primary">Insertar Nodo Al Final</button>
<button @onclick="AgregarInicio" class="btn btn-primary">Insertar Nodo Al Inicio</button>
<br />
<br />
<input type="text" @bind="valorBusqueda" class="form-control" placeholder="Valor de referencia" /><br />
<button @onclick="AgregarAntesDatoX" class="btn btn-primary">Insertar antes de un Dato X</button>
<button @onclick="AgregarDespuesDatoX" class="btn btn-primary">Insertar después de un Dato X</button>
<button @onclick="BuscarElemento" class="btn btn-primary">Buscar Elemento</button>
<br />
<br />
<input type="text" @bind="posicionStr" class="form-control" placeholder="Posición" /><br />
<button @onclick="AgregarEnPosicion" class="btn btn-primary">Insertar en Posición</button>
<button @onclick="AgregarAntesDePosicion" class="btn btn-primary">Insertar antes de Posición</button>
<button @onclick="AgregarDespuesDePosicion" class="btn btn-primary">Insertar después de Posición</button>
<br />

<p>@mensaje</p>

<ul class="list-group">
    @{
        Nodo nodoTemporal = Lista.PrimerNodo;
        while (nodoTemporal != null)
        {
            <li class="list-group-item">@nodoTemporal.Informacion</li>
            nodoTemporal = nodoTemporal.Referencia;
        }
    }
</ul>


@code {
    public string valor { get; set; }
    public string valorBusqueda { get; set; }
    public string posicionStr { get; set; }
    public string mensaje { get; set; }
    public LES Lista { get; set; }

    protected override void OnInitialized()
    {
        Lista = new LES();
        base.OnInitialized();
    }

    Nodo crearNodo()
    {
        return new Nodo(valor);
    }

    public void AgregarFinal()
    {
        mensaje = Lista.AgregarNodoFinal(crearNodo());
    }

    public void AgregarInicio()
    {
        mensaje = Lista.AgregarNodoInicio(crearNodo());
    }

    public void AgregarAntesDatoX()
    {
        mensaje = Lista.AgregarAntesDatoX(valorBusqueda, crearNodo());
    }

    public void AgregarDespuesDatoX()
    {
        mensaje = Lista.AgregarDespuesDatoX(valorBusqueda, crearNodo());
    }

    public void AgregarEnPosicion()
    {
        if (int.TryParse(posicionStr, out int posicion))
        {
            mensaje = Lista.AgregarEnPosicion(posicion, crearNodo());
        }
        else
        {
            mensaje = "Posición inválida";
        }
    }

    public void AgregarAntesDePosicion()
    {
        if (int.TryParse(posicionStr, out int posicion))
        {
            mensaje = Lista.AgregarAntesDePosicion(posicion, crearNodo());
        }
        else
        {
            mensaje = "Posición inválida";
        }
    }

    public void AgregarDespuesDePosicion()
    {
        if (int.TryParse(posicionStr, out int posicion))
        {
            mensaje = Lista.AgregarDespuesDePosicion(posicion, crearNodo());
        }
        else
        {
            mensaje = "Posición inválida";
        }
    }

    public void BuscarElemento()
    {
        var nodo = Lista.BuscarElemento(valorBusqueda);
        mensaje = nodo != null ? $"Elemento encontrado: {nodo.Informacion}" : "Elemento no encontrado";
    }
}